<mat-sidenav-container fullscreen>
    <mat-sidenav #sideNav mode="push" [ngStyle]="{width: '250px'}">
        <mat-toolbar class="flex justify-content-between">
            <span>Menú</span>
            <button mat-icon-button (click)="sideNav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sideNav.toggle()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                {{ item.label }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="flex justify-content-between">
            <div class="flex m-2 align-items-center">
                <button mat-icon-button (click)="sideNav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="flex align-items-center">
                <span>{{ user?.completeName }}</span>
                <button mat-icon-button (click)="onLogout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <div class="container p-2">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>